body{
    background-color: rgb(110, 39, 39);
    font: normal 13pt Arial;
}
header{
    font-size: 17pt;
    color: white;
    text-align: center;
}
section{
    background-color: rgb(255, 255, 255) ;
    border-radius: 10px;
    width: 500px;
    margin: auto;
    padding: 15px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.308);
}
footer{
    color: white;
    text-align: center;
    font-size: 9pt;
}
div.display{
    position: relative;
    top: 0;
    left: 0;
}   
img#velocimetro {
    position: relative;
    top: 0px;
    left: 0px;
  }
img#ponteiro {
    position: absolute;
    top: 55px;
    left: 125px;
  }
p#mostradorMarcha{
    position: absolute;
    top: 240px;
    left: 235px;
    font-size: 30pt;
}
#botoes{
    position: absolute;
    top: 380px;
    left: 370px;
}

.botaonormal{
    width: 70px;
    height: 40px;
    margin: 2px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0);
}

.botaoclicado{
    outline: 1px solid rgb(104, 26, 26);
    width: 70px;
    height: 40px;
    margin: 2px;
    box-shadow: 2px 2px 3px rgb(105, 36, 36);
}